@import "@/styles/colors.scss";

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: map-get($map: $schema, $key: 'color-secondary');
}