.error{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_image{
        width: 300px;
    }

    &_title{
        font-size: 2rem;
        font-weight: bold;
        color: aquamarine;
    }

    &_description{
        font-size: 1.2rem;
        color: chartreuse;
    }
}